/*
  UFRN theme for presentation template
  Used with scripts/mozilla/presentations/scripts.js
  https://github.com/mozilla-ro/presentations
*/

@import url(fonts.css);

/* --- BODY --- */
body {
	font-family: 'Iceland', cursive;
}

BODY {
	font:25px/1.8 'Roboto', sans-serif;
	counter-reset:paging;
	}

.slide img.center {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
	z-index: -1;
}

.list .caption h1 {
	font:bold 50px/1 'Roboto', sans-serif;
	}

.slide header h2 {
	font-size: 60px;
}

.slide blockquote:before {
	position:absolute;
	margin:-15px 0 0 -80px;
	color:#666;
	font:200px/1 'Iceland', sans-serif;
	content:'\201C'; /* ldquo */
	}

/* Body */
body:after {
	background:url();
}

.slide strong {
    font-weight: normal;
    color: rgb(60, 95, 255);
}

.slide div.box {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(140, 180, 255);
    padding: 20px;
    padding-left: 50px;
}

.slide div.box ol,
.slide div.box ul {
    margin: 0px;
}


/* Picture simple_frame */
.simple_frame {
    display: block;
}
.simple_frame img {
    border: 5px solid #f8f8f8; z-index: 2; display: block; 
}

/* Header */
.slide header {
    margin: 0 0 58px -35px;
    color: rgb(60, 95, 255); /* #000; */
    text-transform: none;
    font: 60px/1.13 'Iceland', sans-serif;
}

.slide code {
	padding: 0px;
	background: transparent;
	border-radius: 0px;
}
.slide pre code {
	line-height: 24px;
	padding: 0px;
	background: #d0d6dc;
	border-radius: 10px;
	padding: 10px 15px;
	font-weight: bold;
}

.slide section {
	padding:80px 120px 0;
	width:784px;
	height:560px;
	background: white;
	color:rgb(62,62,62);
	}

.fade .full .slide { 
	background: white; 
}

/* Elements */
.slide p {
    margin:-30px 0 35px;
}

.slide mark {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FAFAA2;
    color: #000;
}

/* Shout */
.slide.shout h2 {
    font-size: 80px;
}

/* Lists */
.slide ol,
.slide ul {
    margin: -30px 0 15px;
}

.slide ul.short li {
    line-height: 30px;
    font-size: smaller;
    padding: 0px;
}

.slide ul.short > li:before {
    line-height: 30px;
    font-size: 30px;    
}

/* restoring defaults: with a bullet */
ul.inner li::before {
	content: '\2022';
}

/* restoring defaults: no fade; */
.inner li {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

li.obs {
	font-size: smaller;
	font-style:italic;
}

.slide ul > li.nobullet:before {
	content: '';
}

.slide ul > li.obs:before {
    content: '';
}

.slide pre code:before {
	content: '';
}

/* Code */
.slide pre {
    font-family: 'monaco', 'courier', monospace;
    font-size: 20px;
    letter-spacing: -1px;
}

/* Cover */
.slide.cover section {
    background: white;
}
.slide.cover h1 {
    font: bold 60px/1 'Iceland', sans-serif;
    text-align: center;
    text-shadow: 0 7px 7px #8D8E90;
    padding-top: 10%;
}
.slide.cover h3 {
    font: bold 40px/1 'Iceland', sans-serif;
    color: white;
}
.slide.cover p {
    font: 40px/1 'Iceland', sans-serif;
    text-align: center;
    font-weight: normal;
}

/* Caption */
.list .caption h1 {
    font: bold 40px/1 'Iceland', sans-serif;
}

/* Progress */
.full .progress {
    bottom: 5px;
}

/* Special content styles */
.photo-credits {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 120px;
}
.video-credits {
    font-size: 12px;
    position: absolute;
    bottom: 53px;
    left: 120px;
}
.slide ol.longlist  li:before
.slide ul.longlist  li:before {
    content: '\2022'; /* bull */
    line-height: 1.1;
    font-size: 30px;
}

.slide ol {
    list-style-type: upper-roman;
}

.slide code ol {
    list-style-type: decimal;
}

.slide ol > li:before {
    content: '';
}

/* Font */
.flash {
    color: rgb(0, 102, 204);
}
.flash_bold {
    color: rgb(0, 102, 204);
    font-weight: bold;
}
.scrc {
    color: rgb(0, 128, 0);
    font-size: 18px;
    font-weight: bold;
} /* screen command */
.scrt {
    color: rgb(128, 128, 0);
    font-size: 18px;
    font-weight: bold;
} /* screen text */

.algo {
    font-family: 'monaco', 'courier', monospace;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
}

/* Tables */
table.table-borders {
    border: 2px solid white;
    font-size: 18px;
    text-align: center;
}
table.table-borders th {
    border: 1px solid white;
    padding: 0px 15px;
    background-color: rgb(79, 129, 189);
    color: white;
}
table.table-borders tr {
    background-color: rgb(208, 216, 232);
}
table.table-borders td {
    border: 1px solid white;
    background-color: rgb(208, 216, 232);
    padding: 1px;
}

.slide table.array-values td {
    padding: 5px 5px;
    width: 25px;
    text-align: center;
    background-color: #78B2F5;
}

.slide table.array-index td {
    padding: 5px 5px;
    width: 25px;
    text-align: center;
    font-size: 12px;
}